.khan__buy-link{
    line-height: 42px;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    transition: ease-in 5s linear;
    color: #2f80ed;
    align-self: flex-start;
}

.khan__buy-link:hover{
    opacity: 0.6;
}